<div class="container">
  <div class="animate__animated main-bg-index ext-center bg-transparentanimate__zoomIn">
    <p class="animate__animated display-3 htext animate__backInDown">HumanOS</p>
    <h1 class="animate__animated lead ltext animate__backInUp">A Powerful brand new OS based on Humans!</h1>
    <button class="animate__animated btns btn-dark animate__backInUp animate__fast" onclick="window.location.href='#';"><span>Download</span></button>
    <button class="animate__animated btns btn-dark animate__backInUp animate__fast" onclick="window.location.href='#';"><span>Instructions</span></button>
  </div>
</div>
<section class="features">
  <p style="margin-top: 10px; text-align: center; font-size: 45px;">Features</p>
  <div class="container-md">
    <div class="row stats" style="display: flex;">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div style="width: 100%;" class="features-box">
          <div style="width: 100%; text-align: center;">
            <p style="margin-top: 1rem; font-size: xx-large;">HumanOS</p>
            <p>Initial Commit</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div style="width: 100%;" class="features-box">
          <div style="width: 100%; text-align: center;">
            <p style="margin-top: 1rem; font-size: xx-large;">HumanOS</p>
            <p>Initial Commit</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div style="width: 100%;" class="features-box">
          <div style="width: 100%; text-align: center;">
            <p style="margin-top: 1rem; font-size: xx-large;">HumanOS</p>
            <p>Initial Commit</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div style="width: 100%;" class="features-box">
          <div style="width: 100%; text-align: center;">
            <p style="margin-top: 1rem; font-size: xx-large;">HumanOS</p>
            <p>Initial Commit</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div style="width: 100%;" class="features-box">
          <div style="width: 100%; text-align: center;">
            <p style="margin-top: 1rem; font-size: xx-large;">HumanOS</p>
            <p>Initial Commit</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div style="width: 100%;" class="features-box">
          <div style="width: 100%; text-align: center;">
            <p style="margin-top: 1rem; font-size: xx-large;">HumanOS</p>
            <p>Initial Commit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>