<div class="container p-4">
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <p dir="auto">
            <img src="/images/logo.png">
            </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled mb-0">
            <li><a style="color: #7b00ce;" href="#">Initial Commit</a></li>
            <li><a style="color: #7b00ce;" href="#">Initial Commit</a></li>
            <li><a style="color: #7b00ce;" href="#">Initial Commit</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled">
            <li><a style="color: #7b00ce;" href="#">Initial Commit</a></li>
            <li><a style="color: #7b00ce;" href="#">Initial Commit</a></li>
            <li><a style="color: #7b00ce;" href="#">Initial Commit</a></li>
            </ul>
        </div>
    </div>
</div>