<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title><%= title %></title>
    
        <meta name="title" content="HumanOS">
        <meta name="description" content="A Powerful brand new OS based on Humans!">
        <meta name="author" content="HumanOS Inc.">
        <meta name="keywords" content="HumanOS, Human, OS">

        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">

        <meta property="og:type" content="website">
        <meta property="og:url" content="Initial Commit">
        <meta property="og:title" content="HumanOS">
        <meta property="og:description" content="A Powerful brand new OS based on Humans!">
        <meta property="og:image" content="Initial Commit">

        <meta property="twitter:title" content="CandyBot">
        <meta property="twitter:url" content="Initial Commit">
        <meta property="twitter:description" content="A Powerful brand new OS based on Humans!">
        <meta property="twitter:image" content="Initial Commit">
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/themify-icons.css" rel="stylesheet">
    </head>
    <body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <%- include('../partials/navbar.ejs') %>
        </nav>

        <%- body %>

        <footer class="text-center text-white" style="background-color: #1c1d22;">
            <%- include('../partials/footer.ejs') %>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    </body>
</html>